*{
    font-family:  "Work Sans", sans-serif !important;
}


.cr-wish-notify,
.cr-compare-notify,
.cr-cart-notify {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 99;
}
.cr-wish-notify p,
.cr-compare-notify p,
.cr-cart-notify p {
    padding: 15px 20px;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    border-bottom: 5px solid #f23d64;
    border-radius: 5px;
    display: block;
    -webkit-box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.07);
}
.cr-wish-notify p i,
.cr-compare-notify p i,
.cr-cart-notify p i {
    margin-right: 5px;
}
.cr-wish-notify a,
.cr-compare-notify a,
.cr-cart-notify a {
    color: #f23d64;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.cr-wish-notify a:hover,
.cr-compare-notify a:hover,
.cr-cart-notify a:hover {
    color: #000;
}
a{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;
}
.testimonial__items--title{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.header__menu--link{
    color: white !important;
    font-size: 15px !important;

}
.footer__widget--title{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.footer__widget--menu__list{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.quickview__social--title{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.widget__title {
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.widget__form--check__label{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.price__filter--label{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.price__filter--input__field{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.price__filter--currency{
    color: var(--text-gray-color) !important;
    font-size: 15px !important;

}
.product__details--info__title{
    color: var(--text-gray-color) !important;
    font-size: 25px !important;

}
.p{
    color: var(--text-gray-color) !important;
    font-size: 25px !important;

}
.section__heading--maintitle{
    font-size:22px !important;
}
.product__variant--title
{
    color: var(--text-gray-color) !important;

}
.variant__size--value
{
    color: var(--text-gray-color) !important;

}
span
{
    color: var(--text-gray-color) !important;

}
.contact__form--title
{
    color: var(--text-gray-color) !important;

}
.contact__form--label
{
    color: var(--text-gray-color) !important;

}
.about__content--maintitle
{
    color: var(--text-gray-color) !important;

}
.header__search--button__svg
{
    color:white !important;

}
.header__account--btn
{
    color:white !important;

}
.contact__info--content__desc a{
    color: white !important;
}
